<html>

<head></head>

<body>
    <p>
        以下为本周周报内容，请查收：<br>
        <br>
        <b>本周工作总结：</b><br>
        <br>
        {weekly_summary}<br>
        <br>
        <b>下周工作规划：</b><br>
        待补充
    </p>
    <hr style="width: 400px; height: 1px;"
        color="#b5c4df" size="1" align="left">
    埃克思｜aikesi<br>
    长沙研发中心｜测试工程师<br>
    梦饷科技<br>
    长沙市岳麓区中电软件园2期F3栋2L<br>
    手机号：133 4868 7551<br>
    邮箱：aikesi@mengxiang.com<br>
    网址：www.mengxiang.com<br>
    <img src="cid:image1" border="0" width="400" height="175" class="preview-hover-wemail">
</body>

</html>